---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BackButton from "../../components/BackButton";
import FoodScore from "../../components/FoodScore.astro";

export async function getStaticPaths() {
  const recetas = await getCollection("recetas");

  return recetas.map((receta) => ({
    params: {
      id: receta.slug,
    },
    props: {
      receta,
    },
  }));
}

const { receta } = Astro.props;
const { data, slug } = receta;
const { title,  image } = data;
const { Content } = await render(receta);
export const prerender = true;
---

<Layout title={`${title.toWellFormed()}`}>
  <section class="flex flex-wrap gap-12">
    <aside class="flex flex-col items-center gap-4">
      <BackButton client:idle />
      <img
        src={`${image}`}
        alt={title}
        class="rounded-lg w-72 h-auto"
        transition:name={`img-${slug}`}
      />
    </aside>
    <div class="max-w-2xl">
      <h1 class="text-4xl font-bold mb-4" transition:name={`title-${slug}`}>
        {title}
      </h1>
      <div class="prose">
        <Content />
      </div>
    </div>
    <FoodScore server:defer id={slug} >
      <span slot="fallback" class="text-xl">Cargando puntuación...</span>
    </FoodScore>
  </section>
</Layout>
